.withTrail:not(:last-child)::after {
    --gap: 1.75rem;
    --profile-pic-size: 4rem;
    content: "";
    position: absolute;
    z-index: 1;
    top: var(--profile-pic-size);
    left: calc(var(--profile-pic-size) / 2);
    height: calc(100% - var(--profile-pic-size) + var(--gap));
    @apply block w-[1px] border-l border-dashed border-stroke dark:border-strokedark;
}
