$event-bg: #ffffff;
$event-color: #1c2434;
$today-highlight-bg: #eff4fb;
$cell-border: #e2e8f0;
$event-border-radius: 0;
$current-time-color: #fb5454;
$calendar-border: #e2e8f0;
$out-of-range-bg-color: #f7f9fc;
$out-of-range-color: #64748b;

@import "react-big-calendar/lib/sass/styles";
@import "react-big-calendar/lib/addons/dragAndDrop/styles";

.rbc-month-header {
  .rbc-header {
    @apply py-2.5;
  }
}

.rbc-event,
.rbc-day-slot .rbc-event {
  @apply border-l-8 border-2 border-solid font-bold dark:bg-graydark dark:text-white;
}

.rbc-current-time-indicator {
  height: 2px;
  &::after {
    $ball-size: 1rem;
    $border-width: 3px;
    content: "";
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: -($ball-size / 2);
    width: $ball-size;
    height: $ball-size;
    box-sizing: border-box;
    background-color: $current-time-color;
    border-radius: 50%;
    border: $border-width solid white;
    z-index: 1;
  }
}

.rbc-show-more {
  color: $event-color;
  &:hover,
  &:focus {
    color: lighten($event-color, 30%);
  }
}
